:root {
  --g1: rgb(124, 57, 178);
  --g2: rgb(236, 64, 122);
  --g3: rgb(40, 75, 184);
  --g4: rgb(40, 158, 184);
  --g5: rgb(188, 112, 76);
  --g6: rgb(194, 146, 112);
  --g7: rgb(161, 109, 192);
  --g8: rgb(220, 220, 220);
  --g9: rgb(200, 76, 160);
  --g10: rgb(65, 150, 103);
  --g11: rgb(235, 158, 210);
  --g12: rgb(132, 186, 149);
  --g13: rgb(83, 140, 193);
}

@keyframes background-pan {
  from {
    background-position: 0% center;
  }

  to {
    background-position: -200% center;
  }
}

body {
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
   to right,
   var(--g3),
   var(--g4),
   var(--g3)
 );
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}

#tiles {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows) 1fr);
}

.tile {
  position: relative;
}

.tile:before {
  background-color: rgb(20, 20, 20);
  content: "";
  position: absolute;
  inset: 0.5px;
}

.tile:hover:before {
  background-color: rgb(30, 30, 30);
}

table{
  margin-left: auto;
  margin-right: auto;
  width: 90%
}

th {
  background-color: var(--g4);
  color: white;
}

tr {
  font-size: 22px;
}

.effectList:nth-child(even){
  background-color: var(--g6);

}

.effectList:nth-child(odd){
  background-color: var(--g5);
}

.fusionList:nth-child(even){
  background-color: var(--g7);
}

.fusionList:nth-child(odd){
  background-color: var(--g1);
}

.linkList:nth-child(even){
  background-color: var(--g13);
  color: white;
}

.linkList:nth-child(odd){
  background-color: var(--g3);
  color: white;
}

.synchroList{
  background-color: var(--g8);
}

.xyzList:nth-child(even){
  background-color: rgb(60, 60, 60);
  color: white;
}

.xyzList:nth-child(odd){
  background-color: rgb(30, 30, 30);
  color: white;
}

.spellList:nth-child(even){
  background-color: var(--g12);
}

.spellList:nth-child(odd){
  background-color: var(--g10);
}

.trapList:nth-child(even){
  background-color: var(--g11);
}

.trapList:nth-child(odd){
  background-color: var(--g9);
}



@media all and (max-width: 1400px){
  div.scroll {
    background-color: rgba(30,30,30,.7);
    width: 400px;
    height: 70vh;
    overflow: auto;
    justify-content: center;
    align-content: center;
    position: fixed;
    left: 0%;
    scrollbar-width: none;
    top: 20%;
    }

    #dropDown {
      height: 4.5;
      border-radius: 5px;
      background-color: rgb(30, 30, 30);
      border-top: 1px solid var(--g3);
      border-left: 2px solid var(--g3);
      border-bottom: 5px solid var(--g4);
      border-right: 10px solid var(--g4);
      box-shadow: 0px 0px 50px rgba(0, 0, 255, 0.5), 0px 0px 20px rgba(0, 0, 255, 0.5) inset;
      }
    .responsiveIMG {
      width: 100%;
      max-width: 50px;
      height: auto;
      }

    #discord {
      padding-top: 10px;
      padding-left: 10px;
    }

    .banButton{
      transform: translate(-50%, -50%);
      position: absolute;
      color: white;
      top: 15%;
    }

    #card1{
      left: 17%;
    }

    #card2 {
      left: 34%;
    }

    #card3{
      left:51%;
    }

    .card {
      width: 25px;
      height: 45px;
      border-radius: 2px;
      border: 2px solid rgb(190, 153, 10);
      background: rgb(150, 67, 21);

    }
    .cardContainer {
      position: fixed;
      top: 15%;
      cursor: pointer;
      transform: translate(-50%, -50%);
    }

    .cardCenter {
      background: black;
      border-radius: 50%;
      width: 13px;
      height: 26px;
      left: 30%;
      position: absolute;
      backface-visibility: hidden;
      top: 27%;
    }

    .crown {
    top: 35%;
    left: 20%;
    box-sizing: border-box;
    position: absolute;
    display: block;
    width: 19px;
    height: 12px;
    border: 2px solid;
    border-top-color: transparent;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding-top: 4px
  }
  .crown::after,
  .crown::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(-45deg);
    top: -4px
}
.crown::before {
    border-top-left-radius: 2px;
    left: -1px
}
.crown::after {
    border-bottom-right-radius: 2px;
    right: -1px
    }

    .num{
      padding-left: 5px;
      padding-top: 10px;
      font-size: 24px;
    }

  @media all and (max-height: 600px){
    div.scroll {
        background-color: rgba(30,30,30,.7);
        width: 400px;
        height: 70vh;
        overflow: auto;
        justify-content: center;
        align-content: center;
        position: fixed;
        left: 0%;
        scrollbar-width: none;
        top: 25%;
        }

        #dropDown {
          height: 4.5;
          border-radius: 5px;
          background-color: rgb(30, 30, 30);
          border-top: 1px solid var(--g3);
          border-left: 2px solid var(--g3);
          border-bottom: 5px solid var(--g4);
          border-right: 10px solid var(--g4);
          box-shadow: 0px 0px 50px rgba(0, 0, 255, 0.5), 0px 0px 20px rgba(0, 0, 255, 0.5) inset;
          }
        .responsiveIMG {
          width: 100%;
          max-width: 50px;
          height: auto;
          }

        #discord {
          padding-top: 10px;
          padding-left: 10px;
        }

        .banButton{
          transform: translate(-50%, -50%);
          position: absolute;
          color: white;
          top: 15%;
        }

        #card1{
          left: 17%;
        }

        #card2 {
          left: 34%;
        }

        #card3{
          left:51%;
        }

        .card {
          width: 25px;
          height: 45px;
          border-radius: 2px;
          border: 2px solid rgb(190, 153, 10);
          background: rgb(150, 67, 21);

        }
        .cardContainer {
          position: fixed;
          top: 15%;
          cursor: pointer;
          transform: translate(-50%, -50%);
        }

        .cardCenter {
          background: black;
          border-radius: 50%;
          width: 13px;
          height: 26px;
          left: 30%;
          position: absolute;
          backface-visibility: hidden;
          top: 27%;
        }

        .crown {
        top: 35%;
        left: 20%;
        box-sizing: border-box;
        position: absolute;
        display: block;
        width: 19px;
        height: 12px;
        border: 2px solid;
        border-top-color: transparent;
        border-bottom-right-radius: 3px;
        border-bottom-left-radius: 3px;
        padding-top: 4px
      }
      .crown::after,
      .crown::before {
        content: "";
        display: block;
        position: absolute;
        box-sizing: border-box;
        width: 8px;
        height: 8px;
        border-bottom: 2px solid;
        border-left: 2px solid;
        transform: rotate(-45deg);
        top: -4px
    }
    .crown::before {
        border-top-left-radius: 2px;
        left: -1px
    }
    .crown::after {
        border-bottom-right-radius: 2px;
        right: -1px
        }

        .num{
          padding-left: 5px;
          padding-top: 10px;
          font-size: 24px;
        }
}
@media all and (max-width: 400px){
  div.scroll {
      top: 25%;
      left: -4%;
      }
      .cardContainer {
        position: fixed;
        top: 20%;
        cursor: pointer;
        transform: translate(-50%, -50%);
      }
    }
@media all and (min-width: 1400px){
  div.scroll {
    background-color: rgba(30,30,30,.7);
    width: 1000px;
    height: 85vh;
    overflow-x: hidden;
    overflow-y: auto;
    justify-content: center;
    align-content: center;
    left: 50%;
    position: absolute;
    scrollbar-width: none;
    top: 53%;
    transform: translate(-50%, -50%);
    }

  #partialHeader {
      display: none;
      }
}

.cardShadow{
  box-shadow: 0px 0px 50px rgba(250, 20, 10, 1), 0px 0px 20px rgba(250, 20, 10, 1) inset;
}
